body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 32px 0;
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination li a {
    padding: 10px 15px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination li.active a {
    background-color: #007bff;
    color: white;
}

.pagination li.disabled a {
    color: #ddd;
}
